.cards{
  margin-bottom: 2%;
  float: left;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 2em;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.green{
  color: greenyellow;
  font-weight: 600;
  text-shadow: 1px 1px 0px black;
}
.scriptHeader{
  font-style: italic;
  color:burlywood;
  text-shadow: 1px 1px 1px orangered;
}
.thumbnail{
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
  width: 80px;
}
.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}